{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}
        <div class="step-values">
            <div class="content">
                <div id="1" class="step">
                    <h5>Step 1</h5>
                    <h1>
                        How would you describe yourself?
                    </h1>
                    <textarea id="step1-text" maxlength="250">{{step1}}</textarea>
                </div>
                <div id="2" class="step">
                    <h5>Step 2</h5>
                    <h1>
                        What makes you unique?
                    </h1>
                    <textarea id="step2-text" maxlength="250">{{step2}}</textarea>
                </div>
                <div id="3" class="step">
                    <h5>Step 3</h5>
                    <h1>
                        What are you passionate about?
                    </h1>
                    <textarea id="step3-text" maxlength="250">{{step3}}</textarea>
                </div>
                <div class="d-flex">
                    <button class="btn btn-dark mx-1" id="btnBack">back</button>
                    <button class="btn btn-dark mx-1" id="btnNext">next</button>        
                </div>
            </div>
            
        </div>


    <script>
        var last_step_taken;
        fetch('/home?' + 'id={{uid}}')
            .then(res => {
                return res.text()
            }).then(d => {
                var obj = JSON.parse(d);
                last_step_taken = obj.last_step_taken
                document.getElementById(obj.last_step_taken).style.display = 'block'
                if (last_step_taken == 1) {
                    document.getElementById('btnBack').style.display = 'none'
                }
            })

        document.getElementById('btnBack').onclick = function () {
            document.getElementById(last_step_taken).style.display = "none"
            last_step_taken -= 1
            document.getElementById(last_step_taken).style.display = "block"
            if (last_step_taken == 1) {
                document.getElementById('btnBack').style.display = 'none'
            }
        }

        document.getElementById('btnNext').onclick = function () {

            if (document.getElementById('step' + last_step_taken + '-text').value != '') {
                fetch('/home/add', {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify({
                        id: '{{uid}}',
                        data: document.getElementById('step' + last_step_taken + '-text').value,
                        last_step: last_step_taken
                    })
                }).then(res => {
                    return res.text()
                }).then(ss => {
                    last_step_taken++
                    if (last_step_taken < 4) {
                        if (last_step_taken == 1) {
                            document.getElementById('btnBack').style.display = "none"
                        }
                        document.getElementById('btnBack').style.display = "block"
                        document.getElementById(last_step_taken - 1).style.display = 'none'
                        document.getElementById(last_step_taken).style.display = 'block'
                    } else {
                        window.location.reload()
                    }
                })
            }
        }
    </script>
{% endblock%}